---
import { SITE } from '~/utils/config';
---

<span
  class="flex items-center self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <div class="mr-2 pb-0.5">
    <svg width="35" height="35" viewBox="0 0 42 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.51414 30.8879C7.71163 29.1091 6.59513 26.6418 6.59513 23.9147L6.59514 10.611C6.59514 8.12224 8.62048 6.10473 11.1189 6.10473C13.6173 6.10473 15.6426 8.12224 15.6426 10.611L15.6426 32.0798C15.6426 32.6344 15.6888 33.1782 15.7775 33.7077C15.9993 33.7226 16.2231 33.7301 16.4487 33.7301L31.3065 33.7301C33.57 33.7301 35.4049 35.558 35.4049 37.8127C35.4049 40.0674 33.5699 41.8953 31.3064 41.8953L25.4962 41.8953C23.2197 41.8953 21.1236 41.1263 19.4552 39.8349C18.1534 38.8271 17.112 37.5013 16.4487 35.9744C16.1379 35.259 15.9101 34.4994 15.7775 33.7077C14.0093 33.5892 12.3689 33.0061 10.9783 32.0798C10.4523 31.7294 9.96205 31.3299 9.51414 30.8879ZM11.0547 38.9043C4.88067 36.6996 0.466678 30.8223 0.466679 23.9147L0.466681 10.611C0.466682 4.75068 5.23583 -6.79553e-06 11.1189 -5.76691e-06C17.0019 -4.73828e-06 21.7711 4.75069 21.7711 10.611L21.7711 27.6254L31.3065 27.6254C36.9546 27.6254 41.5333 32.1864 41.5333 37.8127C41.5333 43.439 36.9546 48 31.3064 48L25.4962 48C19.1184 48 13.62 44.2826 11.0547 38.9043Z"
        fill="#268007"></path>
    </svg>
  </div>
  <div>
    {SITE?.name}
  </div>
</span>
